@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');
/*------------------------------------------------------------------general*/

body {
    font-family: 'Lato', sans-serif;
}

body p {
    font-size: 20px;
    color: #fafafa;
}

body h1 {
    font-size: 32px;
    color: #fafafa;
    text-align: center;
}

body h2 {
    font-size: 30px;
    color: #fafafa;
}

/*------------------------------------------------------------------colors*/

body {
    background-color: #520000;
}

.bg-color-name {
    background-color: #000000;
}

.navbar-bg-color {
    background-color: #520000;
}


.ui-menu-color-home {
    background-color: #520000;
}

.ui-menu-color-big3 {
    background-color: #520000;
}

.ui-menu-color-about {
    background-color: #520000;
}

.ui-menu-color-contact {
    background-color: #520000;
}

.ui-menu-color-membership {
    background-color: #520000;
}

.ui-menu-color-filler {
    background-color: #520000;
}

.squat-container {
    background-color: black;
}

.benchpress-container {
    background-color: black;
}

.deadlift-container {
    background-color: black;
}



/*------------------------------------------------------------------header*/
.header-bar {
    max-height: 160px;
}


.heading {
    height:auto;
    margin-bottom: 30px;
    
    
}

.logo img {
    max-height: 160px;
    height: 100%;
    width: 100%;
    object-fit: cover;
    
}

.logo {
    padding: 0;
}


.name {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 40px;
    color: #fafafa;
    text-align: center;
    margin-top: 15px;
    position: relative;
    top: 25%;
    left: 20px;
    
}

.list-inline-item:not(:last-child) {
    margin: 0;
}

.navcontainer {
    font-size: 0;
}

#nav li {
    font-size: 14px;
    padding: 0;
}

.menuitem {
 height: 60px;
 text-align: center;
 transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.menuitem:hover {
    background: red;
}



.menuitem a {
    width: 100%;
    text-decoration: none;
    color: #fafafa;
    height: 60px;
}

.menuitem span {
    display: block;
    height: 100%;
    width: 100%;
    text-align: center;
    padding-top: 10px;
    text-transform: uppercase;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
    margin-top: 5px;
}

#nav {
    margin: 0;
}

/*------------------------------------------------------------------index page*/

.jumbo-container {
    margin-top: 100px;
    margin-bottom: 100px;
}


.container-padding {
    padding: 0;
}

.sign-up {
    
    background: rgba(0, 0, 0, 0.8);
    color: red;
    text-align: center;
    font-size: 20px;
    
}

.sign-up h1 {
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 46px;
    color: red;
}

.jumbo-button {
    background-color: #520000;
    border: 2px solid black;
    border-radius: 10px;
    color: #fafafa;
    height: 50px;
    width: 125px;
    margin-top: 20px;
    cursor: pointer;
    box-shadow: 0 9px #2e0000;
}

.jumbo-button:hover {
    background-color: red;
}

.jumbo-button:active {
    box-shadow: 0 5px #2e0000;
    background-color: red;
    transform: translateY(5px);
    outline:none;
}

.jumbo-button:focus {
    outline:none;
}


/*------------------------------------------------------------------the big 3 */



.intro {
    padding: 20px;
    text-align: center;
}

.intro-box {
    background-color: rgba(0, 0, 0, 0.8);
}

.squat-container {
    padding: 25px;
    text-align: center;
    padding-bottom: 50px;
    
}

.bench-container {
    padding: 25px;
    text-align: center;
    padding-bottom: 50px;
    background-color: rgba(0, 0, 0, 0.8);
}

.deadlift-container {
    padding: 25px;
    text-align: center;
    padding-bottom: 50px;
    border-bottom: 2px solid red;
    
}

.squat-video-container {
position: relative;
height: 0;
width: 100%;
padding-bottom: 56.25%; 
}

.squat-video {
margin-top: 10px;
position: absolute;
top:0;
left: 0;
width: 100%;
height: 100%;  
}

.squat-text {
    margin-top: 10px;
    top: 20px;
}

.bench-video-container {
position: relative;
height: 0;
width: 100%;
padding-bottom: 56.25%; 
}

.bench-video {
margin-top: 10px;
position: absolute;
top:0;
left: 0;
width: 100%;
height: 100%;
}

.bench-text {
    margin-top: 10px;
    top: 20px;
}

.deadlift-video-container {
position: relative;
height: 0;
width: 100%;
padding-bottom: 56.25%; 
}

.deadlift-video {
margin-top: 10px;
position: absolute;
top:0;
left: 0;
width: 100%;
height: 100%;
}

.deadlift-text {
    margin-top: 10px;
    top: 20px;
}


/*------------------------------------------------------------------about */

.about-box {
    background-color: rgba(0, 0, 0, 0.8);
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 30px;
    padding-right: 30px;
}

.about-box p {
    text-align: center;
}

.benefits {
    background-color: rgba(0, 0, 0);
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.about-equipment {
    text-align: center;
    padding-bottom: 30px;
}

.about-equipment p {
    text-align: center;
    margin-top: 15px;
}

.about-pt {
    text-align: center;
    padding-bottom: 30px;
}

.about-pt p {
    text-align: center;
    margin-top: 15px;
}

.about-comps {
    text-align: center;
    padding-bottom: 30px;
}

.about-comps p {
    text-align: center;
    margin-top: 15px;
}

.about-images {
    background-color: rgba(0, 0, 0, 0.8);
    padding-top: 60px;
    border-bottom: 1px solid red;
}


/*------------------------------------------------------------------background images*/

.front-page-bg {
    background: url(../images/front-page.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 620px;
}

body {
    background: url(../images/wall.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 620px;
}


/*------------------------------------------------------------------contact*/


.contact-div {
    padding-top: 20px;
    background-color: #520000;
}

.contact-div p {
    text-align: center;
}

.fm-div {
    padding-top: 50px;
}

.form-name {
  padding: 12px 12px 12px 0;
  display: inline-block;
  color: red;
  font-size: 20px;
  margin-bottom: 0;
}

input[type=text], input[type=email], select, textarea{
  padding: 10px;
  width: 100%;
  border-radius: 8px;
  border: 2px solid red;
  box-sizing: border-box;
  resize: vertical;
}

.fbutton-div {
    text-align: center;
}


.form-button {
  background-color: red;
  height: 60px;
  width: 110px;
  color: #fafafa;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 30px;
}

.fmbox {
    background-color: rgba(0, 0, 0, 0.8);
}

.comment-box {
    height: 150px;
}

.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

.map-div {
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
    margin-bottom: 30px;
}

iframe {
    max-height: 500px;
}

/*------------------------------------------------------------------footer*/

footer {
    background-color: #000000;
    color: #fafafa;
    min-height: 45px;
    margin: 0;
}


.social-links {
    padding-top: 20px;
    text-align: center;
    word-spacing: 50px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 25%;
    font-size: 20px;
    line-height: 7px;
    text-align: center;
    color: #000000;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: red;
}


#footer-details {
    padding: 20px;
}



/*------------------------------------------------------------------responsive*/

.label-nav {
    display: none;
    margin: 0 40px 0 0;
    font-size: 26px;
    line-height: 32px;
    border: solid 1px #000000;
    border-radius: 25%;
    width: 32px;
    text-align: center;
    float: right;
    background-color: #fafafa;
}

#toggle {
    display: none;
}




@media only screen and (max-width: 1050px) {

.header-bar {
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 29%, rgba(170,21,21,1) 89%, rgba(255,0,0,1) 100%);
}

.logo {
    display: none;
}


.front-page-bg {
    border-top: solid 1px red;
    border-bottom: solid 1px red;
}

.label-nav {
    display: block;
    cursor: pointer;
    margin-top: 20px;
    margin-right: 20px;
} 

.menu {
    text-align: center;
    display: none;
}

.menu li {
    display: block;
    margin: 0;
    clear: right;
    float: right;
    right: 20px;
    border: solid 1px #000000;
    border-radius: 10px;
    min-width: 200px;
    
}

.menuitem span {
    font-size: 20px;
    letter-spacing: 1px;
}

#dropdown {
    position: absolute;
    z-index: 99;
}

#toggle:checked + .menu {
    display: block;
}

}

@media only screen and (min-width: 925px) {

.sign-up {
    font-size: 26px;
    
}

.sign-up h1 {
    font-size: 55px;
}

.jumbo-button {
    height: 65px;
    width: 155px;
}

body p {
    font-size: 25px;
}

body h1 {
    font-size: 36px;
}


}

@media only screen and (min-width: 768px) {

    
.squat-text {
    padding-top: 8%;
}

.bench-text {
    padding-top: 8%;
}

.deadlift-text {
    padding-top: 8%;
}

.intro{
    max-width: 75%;
    margin: auto;
}

.map-div {
    margin: auto;
}

}

